body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Noto Sans JP', sans-serif;
  display: flex;
  background: linear-gradient(#7abed1, #9BD7D5);
  justify-content: center;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
}
h1 {
  
}
img {
  border-radius: 25%;
  max-width: 250px;
  max-height: 250px;
}
p {
  max-width: 300px;
  text-align: justify;
  text-justify: inter-character;
}